.toast-wrapper {
  position: absolute;
  width: 100%;
  /* margin: 0 auto; */
  z-index: 5;
  height: 50px;
  top: 100px;
}

.wrapper {
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto;
  height: 50px;
  z-index: 6;
  text-align: center;
  line-height: 50px;
  position: relative;
}

.close-button {
  width: 5px;
  height: 5px;
  position: absolute;
  right: 10px;
}
