.main-section {
  width: 100%;
  min-height: 100vh;
}

.landing-section {
  width: 100%;
  height: 100vh;
  color: white;
  background: url('../images/momo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-nav-wrapper {
  width: 30%;
  margin: 300px auto 200px auto;
  display: flex;
  justify-content: space-between;
}

.main-link-item {
  font-size: 35px;
  text-decoration: none;
  color: white;
}
