.pageWrapper {
  width: 100%;
  min-height: 100vh;
  background: #010100;
  margin: 0;
  padding-top: 150px;
}

.pageFormWrapper {
  /* position: absolute; */
  /* top: 120px; */
  width: 40rem;
  height: 30rem;
  margin: 0 auto;
  background: none;
  /* border: #fdb750 solid 1px; */
}

.logoWrapper {
  padding-top: 25px;
  text-align: center;
}

.pageHeading {
  padding-top: 10px;
  font-size: 40px;
  color: white;
  text-align: center;
  line-height: 80px;
}

.formContainer {
  width: 30rem;
  margin: 0 auto;
}

.inputWrapper {
  margin-top: 25px;
}

.formInput {
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  margin: 10 50;
  width: 30rem;
  line-height: 40px;
  font-size: 20px;
}

button {
  min-width: 100px;
  line-height: 40px;
  border: none;
  border-radius: 3px;
  /* padding: 5 10; */
  background-color: #fc2e20;
  color: white;
  font-size: 20px;
}

.signupLinkWrapper {
  font-size: 15px;
  margin-top: 10px;
  color: #fdb750;
  line-height: 20px;
  text-decoration: none;
}
