.footer-content-wrapper {
  width: 70%;
  margin: 0 auto;
  color: white;
  padding: 100px 0 20px 0;
}

.footer-content-heading {
  font-size: 28px;
  color: white;
  text-align: center;
}

.footer-content-social-media {
  width: 20%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socialmedia-icon {
  font-size: 24px;
  line-height: 30px;
}

.footer-content-copyright {
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 30px;
}
