.nav-wrapper {
  padding-top: 30px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-wrapper {
  width: 20%;
}

.link-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.link-item {
  color: white;
  text-decoration: none;
  font-size: 25px;
  line-height: 60px;
}
